/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body, html{
	/*font:Verdana,Helvetica,sans-serif;*/
	font-family: 'Open Sans', sans-serif;
	font-style:normal;
	font-weight:400;
	padding-top:56px;/*Height of sub-header*/
    padding-bottom: 20px;
	color:#4D4D4D;
}

/*////////////////////////
//Font and text settings//
////////////////////////*/
h1, h2, h3, h4{
	font-weight:300;
	color: #2A7433;
}
/*Spin icon-fonts*/
.spin-icon {
  -webkit-animation: spin-icon 1500ms infinite linear;
  -moz-animation: spin-icon 1500ms infinite linear;
  -o-animation: spin-icon 1500ms infinite linear;
  animation: spin-icon 1500ms infinite linear;
     -webkit-transform-origin: 50% 50%;
         transform-origin:50% 50%;
         -ms-transform-origin:50% 50%; /* IE 9 */
}

@-webkit-keyframes spin-icon {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes spin-icon {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}


/*
//Form styles//
*/
form.with-bg-grey{
	background:#fbfbfb;
	padding:10px 20px 40px 20px;
	margin-bottom:10px;
	border:1px solid #ededed;
}
form h3{
	padding:0 0 10px 0;
}
form label{
	font-size: .875em;
    line-height: 1.71429em;
}

/*
//Navigation
*/
.navbar{
	background:#FFF;
	margin-bottom:0;
	border:none;
}
.navbar-toggle{
	border-color:#CCC;
}
.navbar-toggle:hover{
	border-color:#007ac2;
}
.navbar-toggle .icon-bar{
	background-color:#CCC;
}
.navbar-toggle:hover .icon-bar{
	background-color:#007ac2;
}
.sub-header{
	background:#007ac2;
	color:#FFFFFF;
}
.sub-header p{
	font-size:18px;
	font-weight: light !important;
	font-style: normal;
	line-height: normal;
	font-variant: normal;
	font-weight:300;
	padding:18px 0;
	margin:0;
}
.sub-header p .label{
  	background:#FFF;
	color:#007AC2;
	margin-left:5px;
}
.sub-header #login-link-wrap,
.sub-header div.dropdown{
	padding:18px 0;
}
.sub-header #login-link-wrap a{
	color:#FFF;
}
.sub-header a.user-toggle-actions{
 	color:#FFF;
	font-size:14px;
}
.sub-header div.dropdown:hover{
	cursor:pointer;
}
.sub-header div.dropdown:hover a.user-toggle-actions{
	text-decoration:none;
}
#user-menu-dropdown-wrap ul li span.userNameLabel,
#user-menu-dropdown-wrap ul li span.userOrgLabel{
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	color: #333;
	white-space: nowrap;
}
#user-menu-dropdown-wrap ul li span.userNameLabel:hover,
#user-menu-dropdown-wrap ul li span.userOrgLabel:hover{
	cursor:default;
}

/*
//Jumbo intro
*/
#jumbo-introduction{
	
}
#jumbo-introduction h3{
	color:#2a7433;
}

/*
//Sections
*/
.section-white,
.section-blue,
.section-grey{
  padding-top:40px;
  padding-bottom:40px;
}
.section-white{
	background-color:#FFF;
}
.section-grey{
	background-color:#F2F3F5;
}
.section-blue{
	background-color:#e5f1f9;
}
.section-public{
}
.section-private{
	display:none;
}

/*
//Section carousel
*/
/*#section-intro-carousel { 
	height: 60vh; 
}*/
/* CAROUSEL */
.carousel .item{
	overflow:hidden;
	/*height:60vh;*/
}
.carousel .item img{
	position:absolute;
/*FOR TESTING*/
	
}
.carousel-control.left, .carousel-control.right {
	background-image:none !important;
	opacity:1;
}
.carousel-caption {
	top:15%;
	text-align:left;
  	height:auto;
 
}
.carousel-caption h2{
	font-size:18px;
	display:inline-block;
	background:#7f7f7f;
    background:rgba(255,255,255,0.5);
	padding:15px 25px;
	color:#000;
	text-shadow:none;
}

/*
//Section workflow
*/
.circle-tile {
    margin-bottom: 15px;
}
.circle-tile-heading {
	text-align: center;
	font-size:32px;
	background:#E98D32;
    border-radius: 100%;
    color: #FFFFFF;
    margin: 0 auto -40px;
    position: relative;
    transition: all 0.3s ease-in-out 0s;
    width: 80px;
	height: 80px;
    line-height: 80px;
}
.circle-tile-content {
    padding-top: 50px;
	background-color:#e5f1f9;
	color:#4D4D4D;
	text-align:left;
}
.circle-tile-title{
  	padding: 0 15px;
	font-size:1.3em;
	font-weight:300;
	color: #2A7433;
}
.circle-tile-description {
	padding:15px;
}
.circle-tile-footer {
    background-color: #E98D32;
    display: block;
    padding: 5px;
    transition: all 0.3s ease-in-out 0s;
}


/*
//Webmapp selection//
*/
#section-webmap-selection{
	background:#F2F3F5;
}
#row-selected-webmapp{
	display:none;
}
.webmap-selected-wrap img{
	display:inline;
}
.webmap-selected-wrap .caption{
	display:inline;
   	margin:10px;
}
.webmap-selected-wrap .caption .btn{
	display:none;
}
#section-webmap-selection .thumbnail{
    margin-bottom:15px;
}
#section-webmap-selection .thumbnail h3{
	word-wrap: break-word;
}
ul.webmap-meta{
	list-style:none;
	padding:0;
}
ul.webmap-meta li{
	display:block;
	color:#5F5F5F;
	font-size:12px;
}


/*Adjust heights when not vertical stacked (>768px)*/
@media (min-width: 768px) {
	div[class*='col-webmap']{
		height:380px;
		margin-bottom:20px;
		overflow:hidden;
	}
	div[class*='col-webmap']:hover{
		overflow:visible;
		z-index:100;
	}
}

/*
//Section define users
*/
#form-add-single-user p.help-block a{
	color:#737373;
	font-size:14px;
}


/*
//Login
*/
.row-login{
  
}
.col-login{
	background:#fbfbfb;
	border: 1px solid rgb(237, 237, 237);
	border-radius: 0px;
	font-size: 14px;
	margin: 20px 0px;
	padding: 20px;
	position: relative;
}

/*////////
//MODALS//
////////*/
#modal-add-group input{
	display:block;
}
#modal-add-group p.help-block{
	font-size:14px;
}
