MVH/VeldWerkPocs.sln
MVH/VeldWerkPocs.v12.suo
MVH/VeldWerkPocs/Properties/AssemblyInfo.cs
MVH/VeldWerkPocs/VeldWerkPocs.csproj
MVH/VeldWerkPocs/VeldWerkPocs.csproj.user
MVH/VeldWerkPocs/Web.Release.config
MVH/VeldWerkPocs/Web.Debug.config
MVH/VeldWerkPocs/Web.config
MVH/VeldWerkPocs/bin/VeldWerkPocs.pdb
MVH/VeldWerkPocs/bin/VeldWerkPocs.dll.config
MVH/VeldWerkPocs/bin/VeldWerkPocs.dll
MVH/VeldWerkPocs/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MVH/VeldWerkPocs/obj/Debug/VeldWerkPocs.pdb
MVH/VeldWerkPocs/obj/Debug/VeldWerkPocs.dll
MVH/VeldWerkPocs/obj/Debug/VeldWerkPocs.csprojResolveAssemblyReference.cache
MVH/VeldWerkPocs/obj/Debug/VeldWerkPocs.csproj.FileListAbsolute.txt
MVH/VeldWerkPocs/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MVH/VeldWerkPocs/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MVH/VeldWerkPocs/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MVH/_notes/dwsync.xml
_notes/dwsync.xml
css/_notes/dwsync.xml
/js/_notes/dwsync.xml